<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1b7762a7-9671-406a-ab61-7bf38da2d141" Publisher="CN=Georgi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MarsUpdates</DisplayName>
    <PublisherDisplayName>Georgi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MarsUpdates.App">
      <VisualElements DisplayName="MarsUpdates" Logo="Assets\tile150.png" SmallLogo="Assets\SmallLogo.png" Description="MarsUpdates" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\tile310.png" />
        <SplashScreen Image="Assets\marsSplash.png" BackgroundColor="#502824" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>